langchain
openai
langchain-huggingface
python-dotenv
streamlit
unstructured
tiktoken 
pinecone-client
pypdf
numpy
pandas
langchain_community
langchain_text_splitters
langchain_openai
langchain_pinecone
langchain_classic